<table {% if class is defined %}class='{{ class }}'{% endif %} >
    <thead>
    <tr>
        <th scope="col">{{ 'Key'|t }}</th>
        <th scope="col">{{ 'Value'|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for key in bag.keys|sort %}
        <tr>
            <td>{{ key }}</td>

            {% if bag.get(key) is iterable %}
                <td>{{ bag.get(key)|join(', ') }}</td>
            {% else %}
                <td>{{ bag.get(key) }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
