<table {% if class is defined %}class='{{ class }}'{% endif %} >
    <thead>
    <tr>
        <th scope="col">{{ 'Key'|t }}</th>
        <th scope="col">{{ 'Value'|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for key in data|keys|sort %}
        <tr>
            <td>{{ key }}</td>

            {% if data[key] is iterable %}
                <td>{{ data[key]|join(', ') }}</td>
            {% else %}
                <td>{{ data[key] }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
