<div class="wp-query wp-query-{{ query_type }}" data-wp-query-caller="{{ query.caller.class|replace({'\\': '_'}) }}"
     data-wp-query-type="{{ query_type }}">
    <div class="wp-query-sql">
        <pre><code class="sql">{{ query.query }}</code></pre>
    </div>
    <div class="wp-button wp-query-info-button">Info</div>
    {{ query.copy_link }}
    <div style="clear:both"></div>

    <div class="wp-query-info">

        <div class="wp-query-arguments">
            {{ table }}
        </div>

        <span><b>{{ 'Time'|t }}</b>: {{ '%0.4f ms'|format(query.time * 1000) }}</span><br/>
        <span><b>{{ 'Caller'|t }}</b>: {{ query.caller.file }}:{{ query.caller.line }}</span><br/>
        <span><b>{{ 'Target'|t }}</b>: {{ query.target }}</span><br/>

        {% if explain %}
            <div class="wp-query-explain-wrapper">
                <span class="button wp-query-explain-button" data-wp-query-position="{{ position }}">Show explain</span>
            </div>
        {% endif %}
    </div>

</div>
