{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.profiler", {token: token, panel: "cache"}) }}">
        <img width="20" height="28" alt="Cache"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC"/>
        <span>{{ collector.countcachecids }}</span>
    </a>
    {% endset %}
    {% set text %}

    {% for bin, cids in collector.cachecids %}
        <div class="sf-toolbar-info-piece">
            <b>{{ bin }}</b>
            <span>{{ cids|length }}</span>
        </div>
    {% endfor %}
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block menu %}
    <span class="label">
    <span class="icon"><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAABLUlEQVR42u3TP0vDQBiA8UK/gDiLzi0IhU4OEunk5OQUAhGSOBUCzqWfIKSzX8DRySF0URCcMjWLIJjFD9Cpk/D6HITecEPUuzhIAz8CIdyTP/f2iqI4qaqqDx8l5Ic2uIeP/bquezCokOAFF+oCN3t4gPzSEjc4NEPaCldQbzjELTYW0RJzHDchwwem+ons6ZBpLSJ7nueJC22h0V+FzmwWV0ee59vQNV67CGVZJmEYbkNjfpY6X6I0Qo4/3RMmTdDDspuQVsJvgkP3IdMbIkIjLPBoadG2646iKJI0Ta2wxm6OdnP0/Tk6DYJgHcfxpw21RtscDTDDnaVZ26474GkkSRIrrPEv5sgMTfHe+cA2O6wPH6vOBpYQNALneHb96XTEDI6dzpEZ0VzO0Rf3pP5LMLI4tAAAAABJRU5ErkJggg=="
                alt=""/></span>
    <strong>{{ 'Cache'|t }}</strong>
    <span class="count">
        <span>{{ collector.countcachecids }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>{{ 'Cache'|t }}</h2>
    {% for bin, cids in collector.cachecids %}
        <details>
            <summary>{{ bin }} ({{ cids|length }})</summary>
            {% include '@webprofiler/Profiler/table.html.twig' with { 'data': cids, 'class': 'inline' } only %}
        </details>
    {% endfor %}
{% endblock %}
