{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.profiler", {token: token}, {fragment: 'drupal_extension'}) }}">
        {# @todo Add icon #}
        <img width="20" height="28" alt="Database"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC"/>
        <span>{{ collector.countextensions }}</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Active Modules'|t }}</b>
        <span>{{ collector.moduleinfo|length }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Active Themes'|t }}</b>
        <span>{{ collector.themeinfo|length }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block menu %}
    Extensions (modules/themes)
{% endblock %}

{% block menu_summary %}
    {{ 'Total active extensions'|t }}: {{ collector.countextensions }}
{% endblock %}

{% block panel %}
    <h2>Drupal extensions</h2>
    <details>
        <summary>{{ 'Active modules'|t }}</summary>
        {% include '@webprofiler/Profiler/table.html.twig' with { 'data': collector.moduleinfo, 'class': 'inline' } only %}
    </details>
    <details>
        <summary>{{ 'Active themes'|t }}</summary>
        {% include '@webprofiler/Profiler/table.html.twig' with { 'data': collector.themeinfo, 'class': 'inline' } only %}
    </details>
{% endblock %}
