{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.profiler", {token: token}, {fragment: 'state'}) }}">
        <img width="20" height="28" alt="Database"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC"/>
        <span>{{ collector.statekeys|length }}</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Get'|t }}</b>
        <span>{{ collector.statekeys|length }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block menu %}
    {{ 'State'|t }}
{% endblock %}

{% block menu_summary %}
    {{ 'State variabiles'|t }}: {{ collector.statekeys|length }}
{% endblock %}

{% block panel %}
    <h2>State</h2>
    <details>
        <summary>{{ 'Get'|t }}</summary>
        {% include '@webprofiler/Profiler/table.html.twig' with { 'data': collector.statekeys, 'class': 'inline' } only %}
    </details>
{% endblock %}
